body {
	background-color: rgb(18,60,208);
}
p{
	font-family: 'Press Start 2P', cursive;
	color: black;
	font-size: 20px;
	margin-top: 20px;
}

#numWins, #numLosses {
	display: inline-block;
}

#numLosses {
	margin-left: 50px;
}

pre {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	margin-left: -3px;
	margin-right: 10px;
}
#pokemon_logo {
	margin-left: 60px;
	width:800px;
	height: 300px;
}

#game {
	background-image: url("../images/background2.png");
	background-size: 100% 100%;


}
.col-md-7 {
	/*border-style: solid;*/
	/*border-color: skyblue;*/
	height: 600px;
}

#answers {
	margin-top: 90px;
	margin-left: 200px;
	/*background-color: white;*/
	/*margin-left: 110px;*/
}

#lives img {
	height: 65px;
	width: 90px;
	display: inline-block;
	margin-bottom: 0px;
	filter: grayscale(100%);
	-webkit-filter:grayscale(0%);
}

#lives p {
	position: absolute;
	left: 50px;
	bottom: 90px;
	font-size: 28px;
}

#pokeballs {
	position: absolute;
	right: 10px;
	bottom: 57px;
}

#question {
	margin: 140px 0 0 180px;
	height: 300px;
	width: 270px;
}
#character_name {
	margin: 30px 0 0 220px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

#char_pic {
	margin-top: 30px;
	margin-left: 140px;
	display: none;
	width: 80%;
	height: 70%;
}

@media screen and (min-width: 1200px) {
	html {
		overflow-x: hidden;
	}
	 
}